/* General Styles */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Theme Toggle */
#theme-toggle {
  position: fixed;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.dark-theme {
  background-color: #333;
  color: white;
}

.dark-theme header {
  background: #1f618d;
}

/* Projects Filter */
.filter-buttons {
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
  background: #2980b9;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

/* Project Cards */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* Skills Section */
.skill-bar {
  margin-bottom: 20px;
}

.progress {
  width: 100%;
  background: #f4f4f4;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #2980b9;
  transition: width 0.4s;
}
\
